# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Copilot workspace files
.copilot/

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/
.vessel/
.mops/
.wasm/
.tmp/
.bench/

# frontend code
node_modules/
dist/
